@import "tailwindcss";
@tailwind utilities;

@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: yekanBakh;
  src: url(../assets/fonts/YekanBakh.ttf);
}

@font-face {
  font-family: iosEmojis;
  src: url(../assets/fonts/iosEmoji.ttf);
}

@font-face {
  font-family: Inter;
  src: url(../assets/fonts/Inter.ttf);
}

@layer utilities {
  .font-yekanBakh {
    font-family: yekanBakh;
  }

  .font-iosEmoji {
    font-family: iosEmojis;
  }

  .font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-end {
    @apply flex justify-end items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .rtl {
    direction: rtl;
  }
}

html {
  @apply scroll-smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #1e2022;
}

::-webkit-scrollbar-thumb {
  background-color: #afafb6;
  border-radius: 20em;
}